.option{
    background-color: rgb(108, 55, 168);
    border-radius: .9rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
    opacity: .8;
    transition: 0.4s
}   

.option:hover {
    opacity: 1;
}

#options-container .option p{
    margin-bottom: 0;
}

.correct{
    background-color: #0bfc03;
    font-weight: bold;
}

.wrong{
    background-color: #3c0e70;
    opacity: 0.4;
}